html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    font-family: Helvetica;
    color: hsl(191,18%,28%);
    font-size: 16pt;
    height: 100%;
    background-color: hsl(169,27%,85%);
}


.row-url, .row-name {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-name {
    width: 200px;
}

.row-id {
    width: 30px;
}

.row-dura {
    width: 70px;
}

.row-url {
    width: 300px;
}

.row-del {
    width: 30px;
}

div.soap-row.selected {
    background-color: white;
}

.soap-row {
    display: flex;
    background-attachment:fixed;
    white-space: nowrap;
    height: 50px;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border-left: 15px solid gray;
    background-color: rgba(255,255,255,0.75);
    margin: 0px 10px 10px 15px;
}

.table > div:first-child {
    margin-top: 15px;
}

.table > div:not(last-child):hover {
    background-color: white;
}



.row-del {
    justify-content: flex-end;
}

.table > div > div {
    display: flex;
    align-items: center;
    /* padding: 10 px; */
}

.table {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.error {
    box-shadow: 0px 0px 5px hsl(0, 50%, 50%);
}

.error-msg {
    font-size: 8pt;
}

.range {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
